/* Layout */

.page-wrapper {
  margin: 0 auto;
  max-width:768px;
}

/* Service List */

.ServiceList {
  display:flex;
  gap: 1rem;
}

/* Service Block */

.ServiceBlock {
  background-color: coral;
  color:#fff;
  padding: 1rem;
}

/* Media queries */

@media (min-width: 768px) {
  .page-wrapper {
    margin: 0 auto;
    max-width: 900px;
  }
}

@media (min-width: 1024px) {
  .page-wrapper {
    margin: 0 auto;
    max-width: 1024px;
  }
}

@media (min-width: 1400px) {
  .page-wrapper {
    margin: 0 auto;
  }
}


